@import "../../styles/global/variables";

* {
    padding: 0;
    margin: 0;
}

.gridPost {
    border: 1px solid #ccc;
    background-color: white;

    &:hover {
        border: 1px solid #898989;
    }

    .upper {
        width: $contentWidth;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: white;
        display: flex;
        cursor: pointer;
    }

    .left {
        width: 41px;
        box-sizing: border-box;
        padding: 6px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid transparent;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        .upvote-btn,
        .downvote-btn {
            cursor: pointer;
            padding: 2px 2px 1px 2px;
            background-color: transparent;

            &:hover {
                background-color: #e1e2e3;
                border-radius: 4px;
            }
        }

        .upvote-btn {
            border: 1px solid transparent;

            .upvote {
                height: 20px;
                width: 19px;
            }
        }

        .downvote-btn {
            border: 1px solid transparent;

            .downvote {
                height: 20px;
                width: 19px;
            }
        }

        .votes {
            font-family: "IBM Regular";
            font-size: 0.75em;
            padding-bottom: 5px;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .header {
            display: flex;
            gap: 4px;
            padding: 9px 2px 0px 10px;

            .subIcon {
                height: 21px;
                width: 21px;
            }

            .subName {
                font-family: "IBM";
                padding-top: 2px;
                font-size: 12px;
                color: #1c1c1c;

                &:hover {
                    text-decoration: underline;
                }
            }

            .author,
            .creationDate {
                color: #787C7E;
                padding-top: 2px;
                font-size: 0.71em;
                font-family: "IBM Light";

                span {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .creationDate {
                cursor: default;
            }

            .awards {
                margin-left: 3px;
                display: flex;
                gap: 5px;
                cursor: default;

                .award {
                    padding-top: 2px;
                    height: 18px;
                    width: 18px;
                    cursor: default;
                }
            }
        }

        .headline {
            display: flex;
            gap: 6px;
            padding: 0px 0px 0px 10px;

            .headline-text {
                font-size: 18px;
                font-family: "IBM Regular";
                color: #222222;
                margin-right: 10px;

                button {
                    border: 1px solid transparent;
                    border-radius: 9999px;
                    padding: 0px 9px 1px 9px;
                    color: white;
                    font-family: "IBM";
                    font-size: 0.65em;
                    padding-bottom: 2px;
                    margin-left: 5px;
                    margin-top: 3px;
                    position: absolute;
                    cursor: pointer;

                    &:hover {
                        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }

        .content {
            display: flex;
            margin-top: 5px;

            p.src {
                font-size: 14px;
                padding-left: 10px;
                font-family: "Noto Sans Regular";
                color: #1c1c1c;
                line-height: 1.5;
            }

            img.src {
                justify-self: center;
            }
        }

        .footer {
            display: flex;
            gap: 10px;
            margin-bottom: 5px;
            padding-left: 10px;

            .footer-div {
                display: flex;
                padding: 6px 5px 7px 5px;
                border: 1px solid transparent;
                border-radius: 3px;
                align-items: center;
                gap: 6px;

                &:hover {
                    background-color: #e7e7e7;
                }

                h4 {
                    color: #878A8C;
                    font-size: 12px;
                    font-family: "IBM";
                }

                img {
                    width: 18px;
                    height: max-content;
                }
            }

            .people {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;
                cursor: default;
                margin-left: 140px;
                padding-bottom: 1px;

                .people-icon {
                    height: 23px;
                }

                .people-count {
                    padding-bottom: 2px;
                    font-size: 12px;
                    color: #7C7C7C;
                    font-family: "Noto Sans Regular";
                    cursor: text;
                }
            }
        }
    }
}