* {
    margin: 0;
    padding: 0;
}



// Imports
@import '../../styles/global/variables';

.home {
    background-color: $mainPageBackground;
    display: flex;
    gap: 24px;
    padding-top: 68px;

    .feed {
        margin-left: 464px;
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    margin-top: 2px;
    height: 20px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.loading {
    background-color: #0079d3;
    border: 1px solid transparent;
    border-radius: 9999px;
    width: 150px;
    padding: 4px 14px;
    gap: 8px;
    font-family: "Noto Sans Bold";
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-bottom: 14px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    &:hover {
        background-color: #0781df;
    }
}

