.hoverArea {
    border: 1px solid transparent;
    border-radius: 4px;

    .comment-box {
        height: 139px;
        border: 1px solid #edeff1;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        box-sizing: border-box;
        border-bottom: none;
        border-radius: 4px;
        padding: 9px 16px;
        font-family: "Noto Sans Regular";
        font-size: 14px;
        outline: none;
    }

    .button-bar {
        background-color: #f6f7f8;
        padding-left: 7px;
        box-sizing: border-box;
        border: 1px solid #edeff1;
        border-radius: 4px;
        padding-top: 2px;
        border-top: none;
        margin-top: -3px;
        justify-content: space-between;
        display: flex;
        gap: 1px;

        .line {
            width: 1px;
            height: 30px;
            left: 702px;
            position: absolute;
            background-color: #edeff1;
        }

        .text-settings {
            padding: 3px 6px;
            border: 1px solid transparent;
            border-radius: 4px;
            background-color: transparent;
            cursor: pointer;
            position: relative;

            &:hover {
                background-color: #d0d1d2;
            }

            &:hover::after {
                position: absolute;
                margin: 0 auto;
                left: -12px;
                bottom: 36px;
                padding: 5px 10px 5px 10px;
                border-radius: 4px;
                background-color: black;
                color: white;
                content: attr(aria-label);
            }

            &:active {
                background-color: #b2b2b3;
            }

            .setting-icon {
                height: 21px;
            }
        }

        .markdown {
            margin-left: 9px;
            align-self: center;
            cursor: pointer;
            height: 24px;
            border: 1px solid transparent;
            display: flex;
            align-items: center;
            padding-bottom: 3px;
            border-radius: 9999px;
            padding-left: 7px;
            padding-right: 7px;

            p {
                font-size: 12px;
                font-family: "Noto Sans Bold";
            }
        }

        .btn {
            background-color: transparent;

            &:hover {
                background-color: #d0d1d2;
            }

            &:active {
                background-color: #b2b2b3;
            }

            * {
                pointer-events: none;
            }
        }

        .end {
            height: 32px;
            align-items: center;
            display: flex;
        }

        #markdown {
            background-color: transparent;

            &:hover {
                background-color: #d0d1d2;
            }

            &:active {
                background-color: #b2b2b3;
            }
        }

        .submit {
            height: 24px;
            padding-left: 19px;
            padding-right: 21px;
            margin-bottom: 1px;
            margin-right: 8px;
            cursor: not-allowed;
            border: none;

            &:hover {
                box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.125);
            }

            &:active {
                box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.125);
            }
        }

        .spoiler {
            margin-right: 15px;
        }
    }
}