* {
    margin: 0;
    padding: 0;
}

// Imports
@import "../../styles/global/variables";

.navBar {
    height: 48px;
    border-bottom: 1px solid #EDEFF1;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0px 56px 0px 20px;

    .logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        height: 100%;

        .redditLogo {
            height: 32px;
            width: 32px;
        }

        .reddit {
            height: 18px;
            padding-bottom: 1px;
        }
    }

    .search {
        height: 34px;
        margin-bottom: 2px;

        .searchBar {
            background: url("../../resources/images/search.svg") no-repeat scroll 16px 8px;
            background-size: 19px;
            color: $svgColor;
            font-family: 'Benton Sans Book';
            font-size: 0.8375em;
            background-color: #F6F7F8;
            border: 1px solid #EDEFF1;
            border-radius: 4px;
            padding-left: 46px;
            height: 34px;
            width: 608px;
            margin-left: 20px;
            &:hover {
                border: 1px solid $blue;
                background-color: #fff;
            }
            &:focus {
                border: 1px solid $blue;
                background-color: #fff;
                outline: none;
            }
        }
    }

    .user {
        display: flex;
        padding-bottom: 2px;

        .auth {
            margin: 14px 0px 12px 0px;
            font-family: "Noto Sans Bold";
            font-size: 14px;
            border-radius: 9999px;
            height: 32px;
            box-sizing: border-box;
            padding-bottom: 7px;
            border: 1px solid $blue;
        }

        .login {
            background-color: #fff;
            color: $blue;
            padding: 5px 24px 5px 23px;
            padding-top: 2px;
            margin-right: 16px;
        }

        .register {
            background-color: $blue;
            color: #fff;
            padding: 4px 16px 7px 15px;
            margin-right: 23px;
        }

        .userInfo {
            display: flex;
            align-items: center;
            gap: 5px;

            .userImg {
                height: 19px;
                width: 20px;
            }

            .expand {
                height: 7px;
            }
        }
    }
}
