* {
    margin: 0;
    padding: 0;
}

// Imports
@import "../../styles/global/variables";

// Animations
@keyframes spark {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}

.navBar {
    position: fixed;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    height: 49px;
    border-bottom: 1px solid #EDEFF1;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;

    .logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        height: 100%;

        .redditLogo {
            height: 32px;
            width: 32px;
        }

        .reddit {
            height: 18px;
            padding-bottom: 1px;
        }
    }

    .search {
        height: 34px;
        margin-bottom: 2px;

        .searchBar {
            background: url("../../resources/images/search.svg") no-repeat scroll 16px 8px;
            background-size: 19px;
            color: $svgColor;
            font-family: 'Benton Sans Book';
            font-size: 0.8375em;
            background-color: #F6F7F8;
            border: 1px solid #EDEFF1;
            border-radius: 4px;
            padding-left: 46px;
            height: 34px;
            width: 608px;
            margin-left: 20px;
            &:hover {
                border: 1px solid $blue;
                background-color: #fff;
            }
            &:focus {
                border: 1px solid $blue;
                background-color: #fff;
                outline: none;
            }
        }
    }

    .user {
        display: flex;
        padding-bottom: 2px;
        align-items: center;

        .userButtons {
            display: flex;
            gap: 8px;
            height: 32px;

            .vertical-line {
                height: 32px;
                width: 1px;
                border: none;
                background-color: #edeff1;
                margin: 0px 2px;
            }

            .userButton {
                margin-top: 1px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 32px;
                width: 32px;
                border: 1px transparent;
                border-radius: 4px;
                background-color: transparent;
                &:hover {
                    background-color: rgba(26,26,27,0.1);
                }

                img {
                    height: 20px;
                }

                .live {
                    height: 18px;
                }
            }

            .lastBtn {
                margin-right: 8px;
            }
        }

        .auth {
            margin: 14px 0px 12px 0px;
            font-family: "Noto Sans Bold";
            font-size: 14px;
            border-radius: 9999px;
            height: 32px;
            box-sizing: border-box;
            padding-bottom: 7px;
            border: 1px solid $blue;
            cursor: pointer;
        }

        button.shopAvatar {
            margin-top: 1px;
            padding: 4px 16px 8px 16px;
            color: white;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(83,73,218,1) 0%, rgba(180,74,192,1) 100%);
            border: none;
            margin-right: 8px;
            position: relative;

            .star1,
            .star2,
            .star3 {
                fill: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(83,73,218,1) 0%, rgba(180,74,192,1) 100%);
                height: 16px;
                position: absolute;
                animation: infinite ease-in-out;
                animation-name: spark;
                animation-duration: 1.75s;
            }

            .star1 {
                top: 16px;
                left: -6px;
            }

            .star2 {
                top: -9px;
                left: 38px;
                animation-delay: 0.8s;
            }

            .star3 {
                right: -7px;
                top: 12px;
                animation-delay: 1.175s;
            }
        }

        .login {
            background-color: #fff;
            color: $blue;
            padding: 5px 24px 5px 23px;
            padding-top: 2px;
            margin-right: 16px;
            &:hover {
                background-color: $whiteHovered;
            }
            &:active {
                background-color: #d7eaf8;
            }
        }

        .register {
            background-color: $blue;
            color: #fff;
            padding: 4px 16px 7px 15px;
            margin-right: 8px;
            &:hover {
                background-color: $blueHovered;
            }
            &:active {
                background-color: #3d99de;
                border-color: #3d99de;
            }
        }

        .userInfo {
            .link {
            * {
                pointer-events: none;
            }
            display: flex;
            align-items: center;
            gap: 5px;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            padding: 0px 18px 0px 14px;
            height: 30px;
            border: 1px solid transparent;
            border-radius: 4px;
            &:hover {
                border: 1px solid #EDEFF1;
            }

                .userImg {
                    height: 19px;
                    width: 20px;
                }
    
                .expand {
                    height: 7px;
                }
            }

            .dropdownMenu {
                position: absolute;
                top: 92.5%;
                width: 254px;
                min-height: 536px;
                overflow: auto;
                max-height: 743px;
                overflow-x: hidden;
                box-sizing: border-box;
                border: 1px solid #EDEFF1;
                border-radius: 4px;
                padding-top: 10px;
                z-index: 10;
                background-color: #fff;

                div.expanded {
                    padding-left: 54px;
                }

                div.nested {
                    margin-left: 50px;
                }

                div.lastChild {
                    position: relative;
                    margin-bottom: 30px;
                }

                div.lastChild::after {
                    position: absolute;
                    top: 55px;
                    right: 20px;
                    content: "";
                    background-color: #EDEFF1;
                    width: 90%;
                    height: 1px;
                    pointer-events: none;
                }

                .line {
                    height: 1px;
                    width: 100%;
                    background-color: #EDEFF1;
                    margin-top: 14px;
                    margin-bottom: 12px;
                }

                .coins {
                    padding: 15px 20px 14px 20px !important;
                }

                #credits {
                    padding: 10px 20px 16px 26px !important;

                    h6 {
                        font-family: "IBM Light";
                        font-size: 11px;
                        transform: scaleX(1.05);
                        color: #878a8c;
                    }
                }

                .noImg {
                    padding-left: 52px !important;
                }

                .dropdownItem {
                    padding: 11px 20px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 14px;
                    background-color: #fff;
                    cursor: pointer;
                    &:hover {
                        background-color: rgba(0,0,0,0.04);
                    }
                    &:active {
                        background-color: rgba(0,0,0,0.08);
                    }

                    .icon {
                        height: 19px;
                        -webkit-touch-callout: none; 
                        -webkit-user-select: none; 
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none; 
                        user-select: none; 
                    }

                    h3 {
                        font-size: 14px;
                        -webkit-touch-callout: none; 
                        -webkit-user-select: none; 
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none; 
                        user-select: none; 
                        font-family: "IBM Light";
                        color: #1c1c1c;
                        transform: scaleY(0.95);
                    }
                }
            }
        }
    }
}

.dropdownMenu #credits {
    &:hover {
        background-color: #fff;
        cursor: default;
    }
    &:active {
        cursor: default;
    }
}

.dropdownItem .expand {
    position: absolute;
    right: 9.75%;
    height: 7px !important;
    transition: 0.4s all;
}

.dropdownItem .expanded {
    position: absolute;
    right: 9.75%;
    height: 7px !important;
    transform: rotate(180deg);
    transition: 0.4s all;
}

.noPointerEvents {
    pointer-events: none;
}

.avatarContainer {
    display: flex;
    gap: 5px;
    margin-right: 80px;

    .avatar {
        height: 33px;
    }

    .navbarUserInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3px;

        h4 {
            transform: scaleX(1.1);
            transform: scaleY(0.925);
            font-size: 12px;
            font-family: "IBM Light";
        }
    }
}

.karmaContainer {
    display: flex;
    align-items: flex-end;
    gap: 3px;
    font-size: 12px;
    font-family: "IBM";
    p {
        color: #A8AAAB;
    }

    .karma {
        height: 12px;
        padding-bottom: 1px;
    }
}

.loggedInLink {
    margin-top: 1px;
    height: 41px !important;
    padding-bottom: 2px !important;
    padding-right: 12px !important;
    padding-left: 10px !important;
}

.dropdownMenuLogin {
    top: 105.5% !important;
}