.comment-container {
    background-color: red;
    width: 740px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    padding: 12px 6px;

    .submit-comment {
        margin-top: 7px;
        padding-left: 42px;

        .submit-header {
            font-family: "Noto Sans Regular";
            color: #060606;
            font-size: 12px;
        }

        .comment-box {
            width: 652px;
            min-width: 652px;
            min-height: 139px;
            max-width: 652px;
            height: 139px;
            border: 1px solid #edeff1;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            box-sizing: border-box;
            border-bottom: none;
            border-radius: 4px;
            padding: 9px 16px;
            font-family: "Noto Sans Regular";
            font-size: 14px;
            color: #878a8c;
            outline: none;
        }

        .button-bar {
            background-color: #f6f7f8;
            width: 652px;
            padding-left: 7px;
            box-sizing: border-box;
            border: 1px solid #edeff1;
            border-radius: 4px;
            padding-top: 2px;
            border-top: none;
            margin-top: -3px;
            display: flex;
            gap: 1px;

            .line {
                width: 1px;
                height: 30px;
                left: 702px;
                position: absolute;
                background-color: #edeff1;
            }

            .text-settings {
                padding: 3px 6px;
                border: 1px solid transparent;
                border-radius: 4px;
                background-color: transparent;
                cursor: pointer;
                position: relative;

                &:hover {
                    background-color: #d0d1d2;
                }

                &:hover::after {
                    position: absolute;
                    margin: 0 auto;
                    left: -12px;
                    bottom: 36px;
                    padding: 5px 10px 5px 10px;
                    border-radius: 4px;
                    background-color: black;
                    color: white;
                    content: attr(aria-label);
                }

                &:active {
                    background-color: #b2b2b3;
                }

                .setting-icon {
                    height: 21px;
                }
            }

            .markdown {
                margin-left: 9px;
                align-self: center;
                cursor: pointer;
                height: 24px;
                border: 1px solid transparent;
                display: flex;
                align-items: center;
                padding-bottom: 3px;
                border-radius: 9999px;
                padding-left: 7px;
                padding-right: 7px;

                p {
                    font-size: 12px;
                    font-family: "Noto Sans Bold";
                }
            }

            #markdown {
                background-color: transparent;

                &:hover {
                    background-color: #d0d1d2;
                }

                &:active {
                    background-color: #b2b2b3;
                }
            }

            .submit {
                height: 24px;
                padding-left: 19px;
                padding-right: 21px;
                margin-bottom: 1px;
                margin-right: 8px;
                cursor: not-allowed;
                border: none;

                &:hover {
                    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.125);
                }

                &:active {
                    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.125);
                }
            }

            .spoiler {
                margin-right: 15px;
            }
        }
    }
}

.hoverArea {
    margin-top: 5px;
    width: 652px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.comment {
    margin-bottom: 100px;
    padding-left: 5px;

    .comment-header {
        display: flex;
        gap: 4px;
        align-items: flex-end;

        .comment-author {
            font-size: 12px;
            color: #1a1a1b;
            font-family: "IBM Regular";
            padding-bottom: 7px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .comment-timestamp {
            font-size: 11px;
            font-family: "Noto Sans Regular";
            color: #7c7c7c;
            padding-bottom: 7px;
        }

        .comment-avatar {
            height: 37px;
            margin-right: 3px;
            cursor: pointer;
        }
    }
}

.sorter {
    display: flex;
    align-items: center;
    padding-left: 42px;
    margin-top: 23px;
    font-family: "IBM";
    font-size: 11px;
    cursor: pointer;

    .dropdown {
        height: 22px;
        padding-bottom: 1px;
    }
}