body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Benton Sans';
  src: url("./resources/fonts/bentonsansregular.otf") format("opentype");
}

@font-face {
  font-family: 'Benton Sans Book';
  src: url("./resources/fonts/bentonsansbook.otf") format("opentype");
}
