body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Benton Sans';
  src: url("./resources/fonts/bentonsansregular.otf") format("opentype");
}

@font-face {
  font-family: 'Benton Sans Book';
  src: url("./resources/fonts/bentonsansbook.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans";
  src: url("./resources/fonts/notosans.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans Regular";
  src: url("./resources/fonts/notosans-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans Bold";
  src: url("./resources/fonts/notosans-bold.ttf") format("truetype");
}

@font-face {
  font-family: "IBM";
  src: url("./resources/fonts/ibmplexsans.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Light";
  src: url("./resources/fonts/ibmplexsanslight.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Regular";
  src: url("./resources/fonts/ibmplexsansregular.ttf") format("truetype");
}