.post-page {
    width: 100vw;
    min-height: 100vh;
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pageHeader {
        top: 49px;
        z-index: 8;
        background-color: black;
        height: 47px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 482px;
        width: 1280px;
        margin-right: 15px;
        padding-left: 120px;
        position: sticky;

        .leftHeader {
            display: flex;

            .postIcon {
                height: 17px;
                margin-right: 14px;
            }

            h3 {
                color: #D7DADC;
                font-size: 14px;
                font-family: "IBM Light";
                margin-right: 10px;
            }

            .flairBtn {
                border: 1px solid transparent;
                border-radius: 4px;
                color: white;
                padding: 1px 5px 2px 4px;
                font-size: 12px;
                font-family: "IBM Light";
                cursor: pointer;
            }
        }

        .rightHeader {
            display: flex;
            align-items: center;
            gap: 8px;
            position: absolute;
            cursor: pointer;
            right: 120px;

            .cross {
                height: 16px;
            }

            h3 {
                color: #D7DADC;
                font-size: 12px;
                font-family: "IBM";
            }
        }
    }

    .postContent {
        margin-top: 49px;
        min-height: 90vh;
        width: 1280px;
        box-sizing: border-box;
        margin-right: 15px;
        display: flex;
        padding-left: 106px;
        padding-top: 31px;
        gap: 12px;
    }
}