// Imports
@import '../../styles/global/variables';


// Styling
.profile-page {
    background-color: $mainPageBackground;
    min-height: 100vh;
    width: 100vw;

    .head {
        height: 39px;
        border-bottom: 1px solid #edeff1;
        background-color: white;
        width: 100vw;
        padding-top: 48px;
        display: flex;
        gap: 11px;
        padding-left: 464px;
        align-items: center;
        font-family: "IBM Regular";
        font-size: 12px;
        color: #1a1a1b;

        .section {
            height: 39px;
            cursor: pointer;
            padding: 0px 8px;

            h3 {
                margin-top: 12px;

                &:hover {
                    color: #0079d3;
                }
            }
        }
    }

    .profile-content {
        display: flex;
        gap: 24px;
        margin-top: 20px;

        .feed {
            margin-left: 464px;
            width: 642px;
        }

        .info {

            .trophies {
                border: 1px solid #ccc;
                margin-top: 17px;
                background-color: white;
                border-radius: 4px;
                padding: 11px 12px 9px 12px;

                h3 {
                    font-size: 15px;
                    font-family: "IBM Regular";
                    color: #1a1a1b;
                    margin-bottom: 23px;
                    cursor: pointer;
                }

                .trophy-container {
                    display: flex;

                    img {
                        height: 41px;
                        width: 41px;
                        cursor: pointer;
                    }

                    h3 {
                        font-family: "IBM Light";
                        margin-left: 8px;
                        margin-top: 3px;
                        cursor: text;
                        font-size: 14px;
                    }
                }
            }

            .card {
                position: relative;
                width: 310px;
                background-color: white;
                border: 1px solid #ccc;
                border-radius: 5px;
                display: flex;
                flex-direction: column;

                .box {
                    width: 310px;
                    height: 94px;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    background-color: #33a8ff;
                    cursor: pointer;

                    .add-photo {
                        height: 36px;
                        right: 8px;
                        top: 50px;
                        cursor: pointer;
                        position: absolute;
                    }
                }

                .settings {
                    height: 21px;
                    width: 21px;
                    margin-top: 10px;
                    margin-right: 15px;
                    cursor: pointer;
                    align-self: flex-end;
                }

                .d-card {
                    position: absolute;
                    top: 14px;
                    width: 210px;
                    height: 278px;
                    left: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(129, 193, 253);
                    transform-style: preserve-3d;
                    border-radius: 18px;
                    cursor: grab;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 18px;
                        left: 0;
                        bottom: 0px;
                        box-shadow: 0 12px 20px rgba(0, 0, 0, .3);
                      }

                    .card-content {
                        transform-style: preserve-3d;
                        text-align: center;
                      }

                    img {
                        height: 120px;
                        margin-bottom: 10px;
                    }
                }

                .details {
                    margin-top: 179px;
                    background-color: #f1f3f5;
                    border-radius: 9999px;
                    border: 1px solid transparent;
                    display: flex;
                    align-self: center;
                    gap: 6px;
                    box-sizing: border-box;
                    padding: 4px 10px;
                    justify-content: center;
                    align-items: center;
                    width: 110px;
                    color: #1a1a1b;
                    font-family: "Noto Sans Bold";
                    font-size: 11px;
                    padding-bottom: 7px;
                    cursor: pointer;

                    &:hover {
                        background-color: #e7e8e9;
                    }

                    &:active {
                        background-color: #d3d5d6;
                    }

                    .hexagon {
                        height: 16px;
                    }
                }

                h1 {
                    font-family: "IBM Regular";
                    color: #222222;
                    font-size: 21px;
                    align-self: center;
                    margin-top: 2px;
                    letter-spacing: 0.0375em;
                    margin-bottom: 3px;
                    cursor: text;
                }

                h4 {
                    font-family: "IBM Regular";
                    color: #7c7c7c;
                    font-size: 12px;
                    align-self: center;
                    margin-bottom: 5px;
                    cursor: text;
                }

                .style {
                    border: none;
                    border-radius: 9999px;
                    align-self: center;
                    width: 286px;
                    height: 32px;
                    display: flex;
                    box-sizing: border-box;
                    align-items: center;
                    padding: 2px 17px;
                    background: rgb(236,12,41);
                    cursor: pointer;
                    background: linear-gradient(90deg, rgba(236,12,41,1) 0%, rgba(255,134,23,1) 100%);

                    &:hover {
                        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
                    }

                    &:active {
                        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
                    }

                    .shirt {
                        height: 14px;
                        margin-right: 73px;
                    }

                    h3 {
                        font-family: "Noto Sans Bold";
                        font-size: 1.1em;
                        color: white;
                        margin-bottom: 4px;
                        letter-spacing: 0.01em;
                        transform: scaleY(0.95);
                    }
                }

                .userdata {
                    display: flex;
                    margin-left: 12px;
                    margin-top: 8px;
                    gap: 102px;

                    .karma-container,
                    .cake-container {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;

                        h3 {
                            font-family: "IBM Regular";
                            color: #222222;
                            font-size: 14px;
                            cursor: text;
                        }

                        .flexbox {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 4px;

                            .karma {
                                width: 12px;
                                height: 12px;
                                cursor: pointer;
                            }

                            .cake {
                                height: 10px;
                                margin-right: 1px;
                                cursor: pointer;
                            }

                            h4 {
                                margin-top: 4px;
                                cursor: default;
                            }
                        }
                    }
                }

                .social-container {
                    display: flex;
                    gap: 8px;
                    padding-left: 12px;

                    .social {
                        background-color: #edeff1;
                        border: none;
                        border-radius: 9999px;
                        gap: 6px;
                        cursor: pointer;
                        font-family: "IBM";
                        align-items: center;
                        font-size: 10px;
                        color: #1c1c1c;
                        display: flex;
                        padding: 9px 12px;

                        &:hover {
                            background-color: #dfe0e0;
                        }
    
                        &:active {
                            background-color: #c7c8c9;
                        }

                        .add {
                            height: 22px;
                        }

                        h3 {
                            margin-right: 2px;
                            margin-bottom: 2px;
                        }
                    }
                }

                .create {
                    margin: 10px 12px 10px 12px;
                    border: none;
                    border-radius: 9999px;
                    background-color: #0079d3;
                    color: white;
                    font-family: "Noto Sans Bold";
                    cursor: pointer;
                    font-size: 14px;
                    padding: 6px 12px 7px 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
                    }

                    &:active {
                        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
                    }
                }

                .option-container {
                    padding-left: 6px;
                    margin-bottom: 16px;

                    a {
                        text-decoration: none;
                    }
                }

                .expandProfile,
                .optionButton {
                    background-color: white;
                    border: none;
                    border-radius: 9999px;
                    font-family: "Noto Sans Bold";
                    color: #0079d3;
                    font-size: 13px;
                    cursor: pointer;
                    display: flex;
                    margin-right: 15px;
                    margin-top: 3px;
                    padding: 4px 14px 5px 14px;

                    &:hover {
                        background-color: #edeff1;
                    }

                    &:active {
                        background-color: #c7c8c9;
                    }
                }

                .switcher {
                    align-self: flex-end;
                    font-size: 14px !important;
                }
            }
        }
    }
}

.whiteBox {
    background-color: white;
    padding-top: 12px;
    border: none;
    border-radius: 4px;
    margin-bottom: 1px;
}